
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <"width">;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.carousel-item img{
  height: 80vh;
  width: 100h;
}

